/* ====================================================================
   ====================================================================

                               Layers/Base

   ====================================================================
   ==================================================================== */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

//html {
//    font-size: 87.5%;
//}

//body {
//    margin: 0;
//    font-family: $font-default;
//
//    @include smaller-than($tablet-large) {
//        min-width: $mobile-small;
//    }
//}

/* body */.Body--noScroll {
    overflow: hidden;
}

.js .js-hide {
    display: none;
}

button::-moz-focus-inner {
    border: 0;
}

