/* ====================================================================
   ====================================================================

                            Components/Typography

   ====================================================================
   ==================================================================== */

.heading-alpha,
.heading-beta,
.heading-gamma,
.heading-delta {
    color: $color-grey-dark-1;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

.heading-alpha {
    font-size: 3em;

    @include larger-than($tablet-small) {
        font-size: 4em;
    }
}

.heading-beta {
    font-size: 2em;
}

.heading-gamma {
    font-size: 1.5em;
}

.heading-delta {
    font-size: 1.25em;
}

.heading-epsilon {

}

.heading-zeta {

}

.margin-large {
    margin: 2em;
}

.margin-horizontal {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-vertical {
    margin-top: 1em;
    margin-bottom: 1em;
}

.subtext {
    color: $color-grey-dark-3;
}

.List--reset {
    @include list-reset();
    margin: 1em 0;
}

.List--bordered{
    @extend .List--reset;

    li {
        padding: 0.5em;
        border-bottom: 1px solid $color-grey-light-1;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.Text--alignCenter {
    text-align: center;
}

.Text--indent {
    padding-left: 2.5em;
}

p {
    margin: 1em 0;
    line-height: 1.5;
}

ul {
    margin: 1em 0;
    padding-left: 1.5em;
    line-height: 1.5;

    & ul {
        margin: 0.5em 0;
    }
}

a {
    color: darken($color-blue, 25%);
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

pre, code {
    font-family: Menlo, Monaco, monospace;
}

img, canvas {
    max-width: 100%;
}

.Content {
    margin: 1em 0;

    h1 { @extend .heading-beta; }
    h2 { @extend .heading-gamma; }
    h3 { @extend .heading-delta; }

    pre {
        margin: 1em 0;
        padding: 1em;
        background-color: $color-white-1;
        border: 1px solud $color-grey-light-2;
    }
}