/* ====================================================================
   ====================================================================

                               Login

   ====================================================================
   ==================================================================== */

.Login-message,
.Login-form,
.Login-welcome {
    width: 30em;
    max-width: 100%;
    transition: transform 0.9s ease, opacity 0.9s ease, visibility 0.9s ease;
}

.Login-welcome {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 9rem;
    transform: translate(-50%, -13rem);
    transition: transform 0.9s ease, opacity 0.9s ease, visibility 0.9s ease, background-color 0.9s ease;

    .heading-alpha {
        color: #333;
        margin: 2rem 0 1rem 0;
        font-size: 2.5rem;
    }

    .heading-beta {
        margin: 1rem 0 2rem 0;
        font-variant: small-caps;
        font-size: 1.2rem;
        color: #555;
        font-family: inherit;
    }
}

.Login--slideSlightlyUp {
    transform: translate(-50%, -21rem);
    background-color: white;

    .heading-alpha {
        color: #333;
    }

    .heading-beta {
        color: #333;
    }
}

.Login-welcome.Login--slideUp {
    transform: translate(-50%, -40rem);
}

.Login-message {
    width: 100%;
    padding: 1em;
    text-align: center;

    .no-js & {
        display: none;
    }
}

.Login-form {
    border-top: 1px solid #ccc;
    box-shadow: none;
}

.Login--slideUp,
.Login--slideDown {
    opacity: 0;
    visibility: hidden;
}

.Login--slideUp {
    transform: translateY(-100%);

    &.Block--centered {
        transform: translate(-50%, -100%);
    }
}

.Login--slideDown {
    transform: translateY(50%);

    &.Block--centered {
        transform: translate(-50%, 50%);
    }
}

.Login-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 3s ease;
}

.js .Login--isHidden {
    opacity: 0;
}

.Login-bodyTransition {
    transition: opacity 1s ease;
}

.Login--noTransition {
    transition: none;
}

/* ======================
       Default Themes
   ====================== */

.Login-theme--autumn {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/autumn-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/autumn-min-blur-100.jpg'); }
}

.Login-theme--city {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/city-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/city-min-blur-100.jpg'); }
}

.Login-theme--clouds {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/clouds-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/clouds-min-blur-100.jpg'); }
}

.Login-theme--coast {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/coast-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/coast-min-blur-100.jpg'); }
}

.Login-theme--speckles {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/speckles-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/speckles-min-blur-100.jpg'); }
}

.Login-theme--trees {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/trees-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/trees-min-blur-250.jpg'); }
}

.Login-theme--waves {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/waves.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/waves-blur.jpg'); }
}

.Login-theme--yosemite {
    .Login-background--sharp { background-image: url('/vendor/oxygen/ui-theme/img/bg/yosemite-falls-min.jpg'); }
    .Login-background--blur { background-image: url('/vendor/oxygen/ui-theme/img/bg/yosemite-falls-min-blur-250.jpg'); }
}
