
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

@keyframes slideDown4Em {
    0% { transform: translateY(4em); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp4Em {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(4em); opacity: 0; }
}

@keyframes slideUp50Percent {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateY(-50%); opacity: 0; }
}

@keyframes slideDown50Percent {
    0% { transform: translateY(-50%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@keyframes slideRight {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}

@keyframes slideDown {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
