/* ====================================================================
   ====================================================================

                            Button

   ====================================================================
   ==================================================================== */

button,
input[type="submit"],
input[type="button"] {
    border: 0;
    outline: none;
    font-family: $font-default;
    font-size: 1em;
    text-align: left;
}

.Button {
    @include link-reset;
    @include link-cursor;
    @include unselectable;

    display: inline-block;
    margin: 0;
    padding: 0.75em 1em;
    border-radius: 0.5em;

    font-size: $base-font-size;
    font-size: 1rem;
    font-weight: normal;
}

.Button:last-child {
    margin-right: 0;
}

.Button-margin--vertical {
    margin: 1em 0;
}

.Button-margin--horizontal {
    margin: 0 1em;
}

/* =================
     MODIFICATIONS
   ================= */

.Button--back,
.Button--forward {
    @include Box--design-flat($color-grey-light-2);
    position: relative;
    z-index: 1;

    &:before {
        @include Box--design-flat($color-grey-light-2);
        position: absolute;
        top: 3.5px;
        z-index: -1;
        display: block;
        width: 2.1em;
        height: 80%;
        border-radius: 0.15em;
        content: "";
        transform: rotate(45deg);
    }

    &:hover:before {
        background-color: darken($color-grey-light-2, 10%);
    }

    &:active:before {
        background-color: darken($color-grey-light-2, 15%);
    }
}

.Button--back.Button--back,
.Button--forward.Button--forward {
    border: 0;
}

.Button--back {
    margin-left: 1em;
    border-top-left-radius: 0.15em;
    border-bottom-left-radius: 0.15em;
}

.Button--back:before {
    left: -1.05em;
}

.Button--forward {
    margin-right: 1em;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

.Button--forward:before {
    right: -1.05em;
}

.Button[disabled] {
    background-color: $color-white !important;
    border: 1px solid $color-grey-light-1;
    color: $color-grey-light-1;
    cursor: default !important;

    &.Button--back:before,
    &.Button--forward:before {
        background-color: $color-white;
    }

    &.Button--back:before {
        border-bottom: 1px solid $color-grey-light-1;
        border-left: 1px solid $color-grey-light-1;
    }

    &.Button--forward:before {
        border-top: 1px solid $color-grey-light-1;
        border-right: 1px solid $color-grey-light-1;
    }
}

.Button--border {
    @extend .heading-beta;
    margin: 1em 0;
    background-color: transparent;
    border: 0.125em solid $color-white;
    color: #eee;
    font-size: 1.7em;

    @include larger-than($tablet-small) {
        font-size: 2em;
    }
}

.Button--stretch {
    display: block;
    width: 80%;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* =================
        COLORS
   ================= */

.Button-color--grey {
    @include Box--design-flat($color-grey-light-1, true, null, null, true);
}

.Button-color--white {
    @include Box--design-flat($color-grey-light-2, true, null, null, true);
}

.Button-color--green {
    @include Box--design-flat($color-green, true, null, null, true);
}

.Button-color--red {
    @include Box--design-flat($color-red, true, null, null, true);
}

.Button-color--blue {
    @include Box--design-flat($color-blue, true, null, null, true);
}

/* =========================
            TABS
   ========================= */

.ButtonTabGroup {
    @include flex-container(row, flex-start, stretch, '.Button');
}

.ButtonTabGroup .Button {
    display: inline-block;
    margin: 0;
    border-radius: 0;
    border-right: 1px solid darken($color-grey-light-2, 10%);
}

.ButtonTabGroup .Button:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.ButtonTabGroup .Button:last-child {
    border-left-width: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-right: 0;
}