/* ====================================================================
   ====================================================================

                            Button

   ====================================================================
   ==================================================================== */

button,
input[type="submit"],
input[type="button"] {
    border: 0;
    outline: none;
    font-family: $font-default;
    font-size: 1em;
    text-align: left;
}

.Button {
    @include link-reset;
    @include link-cursor;
    @include unselectable;

    display: inline-block;
    margin: 0;
    padding: 0.75em 1em;
    border-radius: 0.5em;

    font-size: 1rem;
    font-weight: normal;
}

.Button:last-child {
    margin-right: 0;
}

.Button-margin--vertical {
    margin: 1em 0;
}

.Button-margin--horizontal {
    margin: 0 1em;
}

/* =================
     MODIFICATIONS
   ================= */

.Button--back,
.Button--forward {
    @include Box--design-flat($color-grey-light-1, true, null, null, true);

    position: relative;
    z-index: 1;

    &:before, &:after {
        position: absolute;
        top: 0;
        content: "";
        font-size: 0;
        line-height: 0;
        width: 0;
        border-top: 1.42rem solid transparent;
        border-bottom: 1.42rem solid transparent;
    }
}

.Button--back {
    padding-left: 1em;
    margin-left: 1em;
    border-radius: 0 0.5em 0.5em 0;

    &::before {
        left: -1.30rem;
        z-index: 2;
        border-right: 1.42rem solid $color-grey-light-1;
        transition: border-right-color 0.2s ease;
    }

    &::after {
        left: -1.30rem;
        z-index: 1;
        top: 0.23rem;
        transition: border-color 0.2s ease;
        border-right: 1.42rem solid darken($color-grey-light-1, 10%);
    }

    &:hover::after {
        border-right: 1.42rem solid darken($color-grey-light-1, 20%);
    }

    &:hover:before {
        border-right-color: darken($color-grey-light-1, 10%);
    }

    &:active:before {
        border-right-color: darken($color-grey-light-1, 15%);
    }

    &:focus:before {
        border-right-color: darken($color-grey-light-1, 10%);
    }
}

.Button--forward {
    padding-right: 1em;
    border-radius: 0.5em 0 0 0.5em;

    &:before {
        right: -1.3rem;
        z-index: 2;
        border-left: 1.4rem solid $color-grey-light-1;
        transition: border-left-color 0.2s ease;
    }

    &::after {
        right: -1.3rem;
        z-index: 1;
        top: 0.23rem;
        transition: border-color 0.2s ease;
        border-left: 1.42rem solid darken($color-grey-light-1, 10%);
    }

    &:hover:before {
        border-left-color: darken($color-grey-light-1, 10%);
    }

    &:active:before {
        border-left-color: darken($color-grey-light-1, 15%)
    }

    &:focus:before {
        border-right-color: darken($color-grey-light-1, 10%);
    }
}

.Button[disabled] {
    background-color: $color-white !important;
    border: 1px solid $color-grey-light-1;
    color: $color-grey-light-1;
    border-radius: 0.5em;
    cursor: default !important;

    &.Button--back:before,
    &.Button--forward:before,
    &.Button--back:after,
    &.Button--forward:after {
        border: 0;
    }

    &:hover {
        border: 1px solid $color-grey-light-1;
    }
}

.Button--transparent {
    @include link-reset;
    @include link-cursor;
    background-color: transparent;
    margin: 0.5em;

    .Icon {
        vertical-align: middle;
    }
}

.Button--border {
    @extend .heading-gamma;
    margin: 1em 0;
    background-color: $color-white-15;
    border-bottom: 0.2em solid $color-grey-dark-3;
    color: #444;
    padding: 1em 2em;
    font-size: 1em;
    transition: background-color 1s ease, color 1s ease, border 1s ease, box-shadow 1s ease;

    @include larger-than($tablet-small) {
        font-size: 1.3em;
    }

    &:hover, &:focus {
        background-color: $color-white;
        color: #1a1a1a;
        border-color: $color-grey-dark-2;
    }
}

.Button--stretch {
    display: block;
    padding: 0.75em 1.5em;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.Button--smallPadding {
    padding: 1em 1.5em;
}

/* =================
        COLORS
   ================= */

.Button-color--dark-grey {
    @include Box--design-flat($color-grey-mid-1, true, null, null, true);
}

.Button-color--grey {
    @include Box--design-flat($color-grey-light-1, true, null, null, true);
}

.Button-color--white {
    @include Box--design-flat($color-grey-light-2, true, null, null, true);
}

.Button-color--black {
    @include Box--design-flat(darken($color-grey-dark-1, 10%), true, darken($color-grey-dark-1, 15%), darken($color-grey-dark-1, 10%), false);
    color: #ddd;
}

.Button-color--green {
    @include Box--design-flat($color-green, true, null, null, true);
}

.Button-color--red {
    @include Box--design-flat($color-red, true, null, null, true);
}

.Button-color--blue {
    @include Box--design-flat($color-blue, true, null, null, true);
}

/* =========================
            TABS
   ========================= */

.ButtonTabGroup {
    @include flex-container(row, flex-start, stretch, '.Button');
}

.ButtonTabGroup .Button {
    display: inline-block;
    margin: 0;
    border-radius: 0;
    border-right: 1px solid $color-grey-dark-3;
}

.ButtonTabGroup--dark .Button {
    border-right: 1px solid darken($color-grey-dark-3, 10%);
}

.ButtonTabGroup .Button:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.ButtonTabGroup .Button:last-child {
    border-left-width: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-right: 0;
}
