/* ====================================================================
   ====================================================================

                                Dialog

   ====================================================================
   ==================================================================== */

.Dialog {
    padding: 15em 0;
}

.Dialog.vex.vex-closing .vex-content {
    animation: slideUp50Percent 0.5s both;
}

.Dialog .vex-content {
    animation: slideDown50Percent 0.5s both;
}

.Dialog .vex-content {
    background: $color-white-1;
    color: $color-grey-dark-1;
    border-top: 1em solid $color-grey-light-2;
    padding: 1em 2em;
    line-height: 2;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 30em;
}

.Dialog .vex-dialog-form {

    .vex-dialog-message {
        margin-bottom: 2em;
    }

    .vex-dialog-input {
        margin-bottom: 2em;
    }

    .vex-dialog-buttons {
        @include clearfix();

        & > * {
            margin: 0 0.25em;
        }
    }

}

.Dialog .vex-dialog-button {
    @extend .Button;
    float: right;

    &.vex-dialog-button-primary {
        @extend .Button-color--blue;
    }

    &.vex-dialog-button-secondary {
        @extend .Button-color--grey;
    }

    &.vex-dialog-button-left {
        float: left;
    }
}