/* ====================================================================
   ====================================================================

                                Grid

   ====================================================================
   ==================================================================== */

.Row {
    @include larger-than($tablet-large) {
        @include flex-container(row, flex-start, center);
    }

    padding: 1em;

    .Row & {
        padding: 1em 0;
    }
}

.Row--noLayout {
    padding: 1em;
}

.Row--alignTop {
    align-items: flex-start !important;
}

.Row--border {
    border-bottom: 1px solid $color-grey-light-1;

    &:last-child {
        border-bottom: none;
    }
}

.Row--highlight {
    background-color: $color-white-1;
    margin: -0.5em;
}

.Cell-aside {
    @include larger-than($tablet-large) {
        width: 25%;
        margin-right: 2em;
    }
}

.Cell-flex {
    flex: 1;
}