/* ====================================================================
   ====================================================================

                                Grid

   ====================================================================
   ==================================================================== */

.Row {
    @extend .Row--visual;
}

.Row--wrap {
    display: flex;
    flex-wrap: wrap;
}

.Row--spacer {
    flex: 1;
}

.Row--visual {
    background-color: $color-white;
    padding: 1.5em;

    .Row & {
      padding: 1em 0;
    }
}

.Row--alignTop {
    align-items: flex-start !important;
}

.Row--flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.Row--border {
    border-bottom: 1px solid $color-grey-light-1;

    &:last-child {
        border-bottom: none;
    }
}

.Row--center {
    display: flex;
    justify-content: center;
}

.Row--fullWidth {
    padding: 0;
}

.Row--highlight {
    background-color: darken($color-white-1, 2%);
    margin: -0.5em;
}

@include larger-than($tablet-large) {
    .Cell-oneThird,
    .Cell-twoThirds {
        margin-right: 2.5%;

        .Row--singleLine & {
            margin-bottom: 0;
        }

        .Row--equalCells &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .Cell-oneThird {
        width: 31.6666666%;
    }

    .Cell-twoThirds {
        width: 65.83333333%;
    }

    .Cell-oneHalf {
        margin-right: 2.5%;
        width: 48.75%;

        .Row--equalCells &:nth-child(2n) {
          margin-right: 0;
        }
    }

    .Cell--last {
        margin-right: 0;
    }
}

@include smaller-than($tablet-large) {
    .Cell-oneThird,
    .Cell-twoThirds,
    .Cell-oneHalf {
        display: block;
        width: 100%;
        margin: 0.5em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


