/* ====================================================================
   ====================================================================

                                Header

   ====================================================================
   ==================================================================== */

.Header {
    padding: 0.5em;
}

.Header--tiny,
.Header--small,
.Header--normal,
.Header--main {
    // border-bottom: 1px solid $color-grey-light-1;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include smaller-than($tablet-small) {
        flex-wrap: wrap;
    }
}

.Header--tiny,
.Header--small,
.Header--normal {
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light-1;
}

.Header--tiny {
    padding: 0.5em 0;
}

.Header--small {
    padding: 0.75em 2em;
}

.Header--normal {
    padding: 1.5em 2em;

    .heading-gamma {
        font-size: 1.25em;
    }
}

.Header--main {
    padding: 3em 2em 3em 2em;
    background-color: lighten($color-grey-light-2, 3%);
    border-bottom: 1px solid $color-grey-dark-1;

    &:last-child {
        border-bottom: 0;
    }
}

.Header--block {
    background-color: $color-white;
    padding: 1em;

    .Header-title {
        margin-top: 0.5em;
    }
}

.Header--condensedWidthCenter {
    justify-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.Header--block:last-child {
    border-bottom: 1px solid $color-grey-light-2;
}

.Header--noBorder {
    border-bottom: 0;
}

.Header-back {
    margin-bottom: 1em;
    margin-right: 1em;

    @include smaller-than($tablet-large) {
        display: none;
    }

    @include larger-than($tablet-large) {
        margin-bottom: 0;
    }
}

.Header-toolbar {
    @include flex-container(null, flex-start, center, '.flex-item', wrap);
    align-content: space-between;

    & > * {
        margin: 0.25em;
    }

    &.Header-toolbar.Header-toolbar { // nasty specifity hack to override @flex-container's `float: left`
        float: right;
        margin-left: auto;
    }

    &.Header-toolbar--alignLeft.Header-toolbar--alignLeft.Header-toolbar--alignLeft {
        float: left;
    }

}

.Header--block .Header-toolbar {
    margin-top: 1em;
    float: none;
}

.Header-toolbar--padding {
    padding: 1em 0;
}

.Header-subtitle {
    margin-left: 0.5em;
    color: $color-grey-dark-3;

    @include larger-than($tablet-large) {
        .Header--tiny &:before,
        .Header--small &:before,
        .Header--normal &:before,
        .Header--main &:before {
            content: "\00a0";
        }
    }
}

.Header-icon {
    color: $color-grey-dark-3;
    margin-left: 0.5em;
}