/* ====================================================================
   ====================================================================

                               Icon

   ====================================================================
   ==================================================================== */

.Icon--huge {
    font-size: 10em;
    color: $color-grey-dark-1;
}

.Icon--pushUp {
    margin-top: 14px;
    margin-top: 1rem;
}

.Icon--pushLeft {
    margin-left: 0.3em;
}

.Icon--pushRight {
    margin-right: 0.3em;
}