/* ====================================================================
   ====================================================================

                               Icon

   ====================================================================
   ==================================================================== */

.Icon--pushUp {
    margin-top: 14px;
    margin-top: 1rem;
}

.Icon--pushLeft {
    margin-left: 0.5em;
}

.Icon--pushRight {
    margin-right: 0.5em;
}

.Icon-container {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    background-color: $color-grey-light-2;
}

.Icon--gigantic {
    font-size: 15em;
}

.Icon--huge {
    font-size: 10em;
}

.Icon--dark {
  color: $color-grey-dark-1;
}

.Icon--light {
    color: $color-grey-light-1;
}