/* ====================================================================
   ====================================================================

                               ImageEditor

   ====================================================================
   ==================================================================== */

.ImageEditor {
    width: 100%;
    background-color: $color-grey-dark-3;
    height: 90vh;
    @include flex-container(row);

    &.FullscreenToggle--isFullscreen {
        height: 100%;
    }
}

.ImageEditor-content {
    overflow: auto;
    width: 70%;
    border: 4px solid $color-grey-dark-1;
    border-right: 0;
    @include Box--design-checkerboard($color-grey-dark-2, rgba(0, 0, 0, 0), 20px, false);
    display: flex;
    align-items: center;
    justify-content: center;
    @include larger-than($screen-large) { .FullscreenToggle--isFullscreen & { width: 85%; } }
}

.ImageEditor-content .jcrop-active,
.ImageEditor-content img  {
    margin: 0 auto;
}

.ImageEditor-toolbar {
    @include flex-container(null, flex-start, center, '.flex-item', wrap);
    align-content: space-between;
    background-color: $color-grey-dark-1;

    & > * {
        margin: 0 0.25em;
    }

    & > *:first-child {
        margin-left: 0;
    }

    & > *:last-child {
        margin-right: 0;
    }
}

.ImageEditor-submit {
    background-color: $color-grey-dark-1;
}

.ImageEditor-panel {
    width: 30%;
    height: 100%;
    background-color: $color-grey-dark-1;
    @include flex-container(column);
    @include larger-than($screen-large) { .FullscreenToggle--isFullscreen & { width: 15%; } }

    & > .TabSwitcher-content {
        overflow: auto;
        border-top: 2px groove darken($color-grey-dark-3, 10%);
        border-bottom: 2px groove darken($color-grey-dark-3, 10%);
    }
}

.ImageEditor-padded {
    padding: 1em;
}

.ImageEditor-flex {
    flex: 1;
}

.ImageEditor-apply,
.ImageEditor-save {
    margin-left: 1em;
}

[data-tab="simple"] {
    -webkit-font-smoothing: antialiased;
}
