/* ====================================================================
   ====================================================================

                                Page

   ====================================================================
   ==================================================================== */

.Page {
    max-width: 100em;
    min-height: 100%;
    margin: 0 auto;
    padding: 0.5em;
    transition: transform 0.2s ease;
    background-color: $color-white-1;

    @include larger-than($tablet-large) {
        padding: 2em;
    }
}

.Block {
    border: 1px solid $color-grey-light-2;
    background-color: $color-white;
    margin-bottom: 0.5em;
    padding: 0.5em;

    @include larger-than($tablet-large) {
        margin-bottom: 1em;
    }

    @include clearfix;
}

.Block--padded {
    padding: 2em;
}

.Block--mini {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    @include smaller-than($tablet-small) {
        width: 100%;
    }
}

.Block--transparent {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}

.Block--verticallyCentered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Block--centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Block--link {
    text-decoration: none;
    text-align: center;
    padding: 2em;

    &:hover, &:active {
      text-decoration: none;
    }
}

.Block--noBorder {
    border: 0;
}

.Block--noMargin {
  margin: 0;
}

.Block--noPadding {
  padding: 0;
}

.ContentPreview {
    border: 0;
    border-top: 2px inset $color-grey-dark-1;
    background-color: $color-white;
    width: 100%;
    height: 100%;
}