/* ====================================================================
   ====================================================================

                              Pagination

   ====================================================================
   ==================================================================== */

.Pagination {
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
    @include flex-container(row, center);
}

.Pagination-element {
    margin: 0 0.5em;
}

.Pagination-element:first-child {
    margin-left: 0;
}

.Pagination-element:last-child {
    margin-right: 0;
}

.Pagination-message {
    padding: 0.75em 0.5em;
}