/* ====================================================================
   ====================================================================

                                Page

   ====================================================================
   ==================================================================== */

.Page {
    min-height: 100%;
    padding: 0;
    transition: transform 0.2s ease;

    @include larger-than($tablet-large) {
        padding: 2em;
    }
}

.Block {
    box-shadow: 0 0 1px #777;
    margin-bottom: 2em;
    @include clearfix;
}

.Block--padded {
    padding: 2em;
}

.Block--mini {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    @include smaller-than($tablet-small) {
        width: 100%;
    }
}

.Block--transparent {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}

.Block--verticallyCentered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Block--centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Block--link {
    background-color: $color-white;
    border: 1px solid $color-white;
    transition: border 0.2s ease;
    text-decoration: none;
    text-align: center;
    padding: 4em 2em;
    display: block;
    margin: 1em 0;

    &:hover, &:active {
        text-decoration: none;
        border: 1px solid $color-grey-dark-3;
    }
}

.Block--noBorder {
    border: 0;
}

.Block--noMargin {
  margin: 0;
}

.Block--noPadding {
  padding: 0;
}

.ContentPreview {
    border: 0;
    border-top: 2px inset $color-grey-dark-1;
    background-color: $color-white;
    width: 100%;
    height: 100%;
}
