
/* ====================================================================
   ====================================================================

                               Tooltip

   ====================================================================
   ==================================================================== */

$Tooltip-background: rgba(0, 0, 0, 0.9) !default;
$Tooltip-foreground: $color-white !default;

.Tooltip-icon {
    margin-left: 0.5em;
    line-height: 1.5;
    width: 1.5em;
    font-size: 80%;
    text-align: center;

    border-radius: 50%;
    background-color: $color-grey-light-1;
    transition: background-color 0.2s ease;
    color: #fff;

    &:hover {
        background-color: $color-grey-dark-3;
    }
}

.Tooltip {
    position: relative;

    &:after {
        display: block;
        top: calc(100% + 1.2em);
        left: -2.5em;
        min-width: 20em;
        text-transform: initial;
        content: attr(data-tooltip);
        background-color: $Tooltip-background;
        padding: 1em;
        border-radius: 1em;
        z-index: 300;
        color: $Tooltip-foreground;
        -webkit-font-smoothing: antialiased;
    }

    &:before {
        top: calc(100% + 0.2em);
        // left: 0.5em;
        width: 0;
        height: 0;
        content: "";
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-bottom: 1em solid $Tooltip-background;
    }

    &:before,
    &:after {
        z-index: 10;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
        transform: translateY(1em);
        font-size: 1rem;
        font-family: $font-default;
    }

    &:hover:after,
    &:hover:before {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

}
